news-portal-user-interactions-by-globocom/
*.pickle
*.zip
env_p10_chantepie/
model_artifacts/
.DS_Store
.lh/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Azurite (émulateur Azure Storage local)
AzuriteConfig/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/
presentation/my_content_presentation_v3.html
presentation/my_content_presentation.html
presentation/my_content_presentation_v2.html
AzuriteConfig
